include mojdbtemplate/specs/avro_specific.json
include mojdbtemplate/specs/glue_job.json
include mojdbtemplate/specs/base.json
include mojdbtemplate/specs/orc_specific.json
include mojdbtemplate/specs/csv_quoted_nodate_specific.json
include mojdbtemplate/specs/par_specific.json
include mojdbtemplate/specs/csv_specific.json
include mojdbtemplate/specs/regex_specific.json
include mojdbtemplate/data/data_type_conversion.csv